.schedule-con{
	display: flex;
	flex-direction: column;
	.schedule-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.switch-con{
			display: flex;
			align-items: center;
			&>div:first-child{
				width: 50px;
			}
		}
		.search-con{
			display: flex;
			flex-direction: column;
			align-items: center;
			.search-input{
				width: 150px;
				margin-bottom: 10px;
				margin-left: 2px;
				margin-right: 2px;
			}
		}
		.search-btn{
			margin: 3px;
		}
	}
	.MuiTableRow-root{
		&:hover{
			background-color: rgb(231, 231, 231);
		}
	}
	.MuiTableRow-head{
		cursor: initial;
		&:hover{
			background-color: transparent;
		}
	}
	.modify-btn-con{
		display: flex;
		flex-direction: column;
		&>button{
			margin-bottom: 5px;
		}
	}
}

/* 상영일정 추가/수정 modal */
.schedule-modal{
	margin-top: 40px;
	.schedule-input{
		width: 150px;
		margin-bottom: 10px;
		margin-left: 2px;
		margin-right: 2px;
	}
}
