.schedule-con{
	display: flex;
	flex-direction: column;
	.schedule-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.switch-con{
			display: flex;
			align-items: center;
			&>div:first-child{
				width: 50px;
			}
		}
	}
	.MuiTableRow-root{
		&:hover{
			background-color: rgb(231, 231, 231);
		}
	}
	.MuiTableRow-head{
		cursor: initial;
		&:hover{
			background-color: transparent;
		}
	}
}
