@import "../base/variable";
@import "../base/common";

.employee-wrap{
	display: flex;
	align-items: flex-start;
	margin-top: 2rem;
	.employee-content-con{
		display: flex;
		flex-direction: column;
		width: 100%;
		.employee-menu{
			display: flex;
			justify-content: flex-end;
			width: 100%;
			padding-bottom: 20px;
		}
	}
	.employee-list-con{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
}

/* add modal */
.add-container{
	width: 600px;
	display: flex;
	flex-direction: column;
	&>div{
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
		&>*{
			width: 48%;
		}
	}
}