.hall-list-con{
	.MuiTableRow-root{
		cursor: pointer;
		
		&:hover{
			background-color: rgb(231, 231, 231);
		}
		button{
			margin-right: 15px;
		}
	}
	.MuiTableRow-head{
		cursor: initial;
		&:hover{
			background-color: transparent;
		}
	}
	.hall-name{
		margin-right: 15px;
	}
}

.seat{
		padding: 3px;
	div{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(146, 169, 218);
		cursor: pointer;
	}
	&.disabled div{
		background-color: green;
	}
	&.distance div{
		background-color: rgb(194, 165, 35);
	}
	&.impossible div{
		background-color: gray;
	}
}