.add-container{
	.textfield{
	}
}
.genre-modal{
	.genre-con{
		display: flex;
		flex-wrap: wrap;
		width: 500px;
		.genre-single{
			display: flex;
			align-items: center;
			margin-right: 10px;
			.title{
				margin-left: 5px;
			}
		}
	}
	.save-btn{
		width: 20%;
		margin-left: 40%;
		margin-right: 40%;
		margin-top: 5%;
	}
}

.cast-modal{
	.cast-select-con{
		width: 500px;
		&>div{
			width: 100%;
			margin-bottom: 1rem;
		}
		.cast-chip-con{
			.chip-component{
				z-index: 100;
			}
		}
	}
	.save-btn{
		width: 30%;
		margin-left: 35%;
		margin-right: 35%;
		margin-top: 5%;
	}
}

.button-con{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	button{
		margin-bottom: 10px;
	}
	.save-btn{
		width: 100%;
	}
}