@import "../base/variable";
@import "../component/seat";

.book-con{
	display: flex;
	height: 100vh;
	.book-tab{
		width: 200px;
		flex-shrink: 0;
		margin-right: 30px;
		.MuiTabs-flexContainerVertical{
			height: 100%;
		}
		.MuiTab-textColorInherit {
			height: 30%;
			&.Mui-selected{
				background-color: $red;
				color: white;
			}
		}
		.PrivateTabIndicator-colorSecondary-3{
			background-color: transparent!important;
		}
	}
	.content-con{
		width: 100%;
	}
}

.book-schedule-con{
	display: flex;
	justify-content: space-between;
	&>div{
		width: 48%;
	}
	.select-movie-con{
		display: flex;
		flex-direction: column;
		.movie-component{
			cursor: pointer;
			display: flex;
			align-items: center;
			padding: 10px;
			.age{
				margin-right: 15px;
				padding: 5px 10px;
				border-radius: 10rem;
				background-color: $red;
			}
			.name{
				font-size: 1.3rem;
				font-weight: 600;
			}
			&:hover{
				background-color: rgb(241, 241, 241);
			}
			&.selected{
				background-color: rgb(255, 188, 188);
			}
		}
		.no-movie{
			text-align: center;
			font-size: 1.3rem;
			margin-top: 10px;
		}
	}
	.select-date-con{
		.date-picker{
			&>div{
				width: 100%;
			}
		}
	}
	.result-con{
		margin-top: 4rem;
		.result-schedule-con{
			display: flex;
			flex-wrap: wrap;
			.schedule-component{
				cursor: pointer;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 130px;
				height: 70px;
				padding: 10px;
				border-radius: 10px;
				.top-info{
					text-align: center;
					font-size: 1.2rem;
				}
				.bottom-info{
					display: flex;
					justify-content: space-between;
					font-size: 0.7rem;
					.rema-seat{
						color: green;
						font-weight: 600;
					}
				}
			}
		}
	}
}

.bookseat-con{
	.bookseat-header{
		.select-con{
			display: flex;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid $border-color;
			justify-content: space-between;
			align-items: center;
			&>div{
				width: 48%;
			}
		}
		.seat-select-con{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			&>div{
				width: 48%;
			}
			.MuiInputBase-root{
				width: 100%;
			}
		}
	}
	.result-con{
		display: flex;
		font-size: 1.4rem;
		justify-content: space-between;
		.total-price-con{
			display: flex;
			&>div{
				margin-right: 10px;
			}
		}
	}
}


.book-pay-con{
	display: flex;
	justify-content: space-between;
	&>div{
		width: 30%;
		flex-direction: column;
	}
	.pay-type-con{
		&>div{
			margin-bottom: 1rem;
		}
		.selected-seat-con .seat-con{
			display: flex;
			flex-wrap: wrap;
			&>div{
				margin-right: 10px;
			}
		}
	}
	.point-con{
		.current-point-con{
			display: flex;
			flex-direction: column;
			&>div{
				margin-bottom: 15px;
			}
			.point-info-con{
				display : flex;
				justify-content: space-between;
			}
			.MuiFormControl-root{
				width: 100%;
			}
		}
	}
	.result-pay-con{
		display: flex;
		flex-direction: column;
		text-align: center;
		.total-price{
			font-size: 1.5rem;
			font-weight: 600;
			margin-bottom: 2rem;
		}
	}
	.sub-title{
		padding: 5px 10px;
		border-radius: 10px;
		background-color: lightgray;
		text-align: center;
		font-size: 1.3rem;
		font-weight: 600;
		margin-bottom: 10px;
	}
}

.schedule-info-con{
	width: 100%;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
    text-align: center;
	img{
		height: 100%;
		&.full-width{
			width: 100%;
			height: auto;
		}
	}
	.movie-name{
		font-size: 1.3rem;
		font-weight: 600;
	}
	&>div{
		margin-left: 15px;
	}
}

.top-title{
	height: 50px;
	background-color: rgb(22, 22, 22);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	margin-bottom: 15px;
}