@import "../base/variable";

.login-con{
	width: 100%;
	.MuiTabs-flexContainer{
		width: 100%!important;
		&>button{
			width: 50%!important;
			max-width: initial!important;
		}
	}
}
.user-form, .nonuser-form{
	display: flex;
	justify-content: space-between;
    margin-top: 30px;
	&>div{
		width: 48%;
	}
}
.user-form{
    height: 250px;
}
.form-con{
	display: flex;
	flex-direction: column;
	&>div{
		margin-bottom: 10px;
	}
	.input-con{
		display: flex;
		flex-direction: column;
		&>div{
			margin-bottom: 10px;
		}
		.birth-con{
			display: flex;
			justify-content: space-between;
			&>div{
				width: 33%;
			}
		}
		.with-btn{
			display: flex;
			align-items: center;
			button{
				margin-left: 10px;
			}
		}
	}
	.btn{
		height: 3rem;
		margin-bottom: 1rem;
		width: 100%;
	}
	.btn-con{
		display: flex;
		&>*{
			width: 100%;
			margin-right: 5px;
		}
		button{
			margin-right: 0;
		}
	}
	.under-menu{
		display: flex;
		justify-content: space-between;
	}
	.checkbox-con{
		display: flex;
		align-items: center;
	}
	.sub-menu{
		display: flex;
		justify-content: space-between;
		align-items: center;
		&>*{
			margin-right: 10px;
			padding-right: 10px;
			border-right: 1px solid $border-color;
			cursor: pointer;
		}
		.last{
			border: none;
			margin: 0;
			padding: 0;
		}
	}
}
.right-con{
	overflow: hidden;
	img{
		width: 100%;
	}
}

.agreement-con{
	&>p{
		padding: 1rem;
		border: 1px solid $border-color;
	}
	.agree-check-con{
		display: flex;
		flex-wrap: nowrap!important;
		flex-direction: row!important;
		&>div{
			display: flex;
			align-items: center;
		}
	}
}