@import "../base/variable";
.movie-wrap{
	display: flex;
	align-items: flex-start;
	margin-top: 2rem;
	.title{
		font-weight: 600;
		width: 100%;
		padding: 10px 0;
		margin-bottom: 1rem;
		border-bottom: 1px solid $border-color;
		p{
			text-align: center;
			font-size: 1.3rem;
			margin-bottom: 10px;
		}
		button{
			width: 100%;
			background-color: $red;
			color: white;
		}
	}
	.search-tab{
		width: 25%;
		padding: 0 1rem;
		border-right: 1px solid $border-color;
		.search-condi-con{
			margin-top: 10px;
			&>div{
				width: 100%;
				margin-bottom: 1rem;
			}
		}
		.search-field-title{
			font-weight: 600;
			color: white!important;
			padding : 10px;
			border-radius: 10px;
			background-color: #3f51b5;
			text-align: center;
		}
	}
	.movie-content-con{
		display: flex;
		flex-direction: column;
		width: 75%;
		.movie-menu{
			display: flex;
			justify-content: flex-end;
			width: 100%;
			padding-bottom: 20px;
		}
		.movie-list-con{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
		}
	}
}