@import "../base/variable";
.movie-exact-con{
	display: flex;
	flex-direction: column;
	.btn-con{
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 15px;
		button{
			margin-right: 10px;
		}
	}
	.info-con{
		display: flex;
		.img-con{
			width: 250px;
			padding-right: 15px;
			margin-right: 15px;
			border-right: 1px solid $border-color;
			flex-shrink: 0;
			img{
				width: 100%;
			}
		}
		.movie-info-con{
			width: 100%;
			display : flex;
			justify-content: space-between;
			&>div{
				width: 48%;
			}
			.left-info-con{
				display : flex;
				flex-direction: column;
				&>div{
					display: flex;
					align-items: center;
					&>div{
						display: flex;
						align-items: center;
						margin-right: 20px;
						margin-bottom: 10px;
					}
				}
			}
			.movie-title{
				.movie-name{
					font-weight: 600;
					font-size: 2.5rem;
				}
				.movie-age{
					padding: 5px 10px;
					border-radius: 10px;
					background-color: $red;
					color: white;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0;
					margin-left: 10px;
					p{
						flex-shrink: 0;
					}
				}
			}
			.menu-genre, .menu-director, .menu-actor{
				span{
					margin-right: 10px;
				}
			}
			.menu-director, .menu-actor{
				.tooltip-con{
					display: flex;
					flex-wrap: wrap;
				}
				span{
					flex-shrink: 0;
					cursor: pointer;
					text-decoration: underline;
				}
			}
			.right-info-con{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.menu{
					flex-direction: column;
					.menu-subtitle{
						margin-bottom: 10px;
					}
				}
				.menu-subtitle{
					text-align: center;
				}
				button{
					width: 100%;
				}
			}
		}
	}
}

.menu{
	display: flex;
	align-items: center;
	.menu-subtitle{  // 전역
		padding: 5px 10px;
		border-radius: 10px;
		background-color: lightgray;
		margin-right: 10px;
		flex-shrink: 0;
	}
}

.people-modal-con{
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin-top: 15px;
	&>div{
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		width: 100%;
	}
	.left-right-con{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		&>div{
			display: flex;
			flex-direction: column;
		}
		.left-con{
			width: 65%;
			align-items: flex-start;
			&>div{
				margin-bottom: 15px;
			}
		}
		.right-con{
			width: 30%;
			margin-left: 5%;
		}
		.right-con .menu-subtitle{
			margin-bottom: 10px;
		}
	}
	.menu{
		width: 100%;
		align-items: flex-start;
	}
}
