@import "../base/variable";
@import "../base/reset";
@import "../base/mixin";
@import "../base/font";

header{
	margin-top: 30px;
	padding-bottom: 30px;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid $border-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.logo{
		height: 100%;
		img{
			height: 100%;
		}
	}
	.title{
		display: flex;
		flex-direction: column;
		align-items: center;
		p{
			font-size: 2rem;
			font-family: 'BlackHanSans', 'noto-sans', sans-serif;
			margin-bottom: 15px;
		}
		
	}
	.menu{
		justify-content: center;
		ul{
			display: flex;
			li{
				padding-right: 20px;
				margin-right: 20px;
				border-right: 1px solid $border-color;
				&:last-of-type{
					margin-right: 0;
					border-right: none;
				}
			}
		}
	}
	.sub-menu{
		margin-bottom: 10px;
		ul{
			display: flex;
			li{
				margin-right: 15px;
			}
		}
		.logout{
			cursor: pointer;
		}
	}
	.search-con{
		display: flex;
		align-items: center;
		.search-type{
			width: 20%;
		}
		.search-input{
			width: 80%;
			margin-right: 10px;
		}
		button{
			width: 100px;
			flex-shrink: 0;
		}
	}
}

.admin-header{
	flex-direction: row;
	.title{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.sm-title{
			font-size: 1rem;
			margin-bottom: 15px!important;
		}
	}
	.menu-con{
		.menu{
			margin-right: 1rem;
		}
		.menu ul{
			max-width: 1000px;
			flex-wrap: wrap;
			
		}
	}
	.right-header{
		display: flex;
		flex-direction: column;
		align-items: stretch;
		&>div{
			display: flex;
		}
		.menu-con{
			margin-bottom: 10px;
		}
	}
}