.page-title{
	font-size: 1.5rem;
	font-weight: 600;
	border-bottom: 1px solid lightgray;
	width: 100%;
	margin: 0 auto;
	padding: 10px 0;
	margin-bottom: 10px;
	&::before{
		content: "|";
		font-weight: 600;
		margin-right: 10px;
	}
}