@import "../base/variable";

.product-card{
	width: 300px;
	height: 400px;
	display : flex;
	flex-direction: column;
	padding: 10px;
	margin-right: 20px;
	text-align: center;
	cursor: pointer;
	.sold-out-cover{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.2);
		justify-content: center;
		align-items: center;
		display: none;
		p{
			color: white;
			font-size: 2.8rem;
			font-weight: 600;
			transform: rotate(-20deg);
		}
	}
	.img-con{
		width: 100%;
		height: 300px;
		overflow-y: hidden;
		img{
			width: 100%;
		}
	}
	.name{
		font-size: 1.3rem;
		font-weight: 600;
	}
	&.sold-out{
		.sold-out-cover{
			display: flex;
		}
	}
}